.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  
}

.avatar img {
  width: 250px;
  height: 200px;
}
